{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close="">
<div class="container">
    <section class="quickSearchResults" data-bind="html: results"></section>
</div>
</div>
        <div class="body" data-currency-code="AUD">
     
     
    <div class="container">
        
<ul class="breadcrumbs" itemscope="">
            <li class="breadcrumb " itemprop="itemListElement" itemscope="">
                <a data-instantload="" class="breadcrumb-label" itemprop="item">
                    <span itemprop="name">Home</span>
                    <meta itemprop="position" content="0">
                </a>
            </li>
            <li class="breadcrumb is-active" itemprop="itemListElement" itemscope="">
                <a data-instantload="" class="breadcrumb-label" itemprop="item">
                    <span itemprop="name">View All</span>
                    <meta itemprop="position" content="1">
                </a>
            </li>
</ul>
<div class="page">
    
<aside class="page-sidebar mobileSidebar-panel" id="mobileSidebar-panel" aria-hidden="true">
    <h4 class="mobile-panel-heading"><span class="mobile-panel-heading-ellipse">Browse by</span></h4>
    <a class="mobile-panel-close" href="" data-collapsible="mobileSidebar-panel" data-group-collapsible="main" aria-controls="mobileSidebar-panel" aria-expanded="false"><svg><use xlink:href="#icon-close" aria-hidden="true"></use></svg></a>
    <div id="faceted-search-container" data-lock-body-scroll="">
            <nav>
    <div data-content-region="sidebar_top--global"></div>
    <div data-content-region="sidebar_top"></div>

    <div class="sidebarBlock sidebarBlock--categories" id="sidebar-categories-nav">
        <h5 class="sidebarBlock-heading">Categories</h5>
        <ul class="navList">
                    <li class="navList-item">
        <a class="navList-action is-active" href="">View All</a>
    </li>

            
                            <li class="navList-item">
        <a class="navList-action" href="">Boots</a>
    </li>

                    <li class="navList-item">
        <a class="navList-action" href="">Flats</a>
    </li>

                    <li class="navList-item">
        <a class="navList-action" href="">Heels</a>
    </li>

                    <li class="navList-item">
        <a class="navList-action" href="">Sandals</a>
    </li>

        </ul>
    </div>

        <script>document.getElementById('sidebar-categories-nav').classList.remove('u-hiddenVisually');</script>
    

            <div class="sidebarBlock">
        <h5 class="sidebarBlock-heading">Shop By Price</h5>
        <ul class="navList">

        </ul>
    </div>

    <div data-content-region="sidebar_below_filter--global"></div>
    <div data-content-region="sidebar_below_filter"></div>


     




     

    <div data-content-region="sidebar_bottom--global"></div>
    <div data-content-region="sidebar_bottom"></div>
</nav>
            </div>
</aside>
    <main class="page-content">

<form action="" method="POST" data-product-compare="">
            <ul class="productGrid productGrid--maxCol3">
    {% for item in object_list %}
    <li class="product">
        <article class="card  " data-product-id="7724">
    <div class="card-wrapper">
        <figure class="card-figure">
                    <a href="{{ item.get_absolute_url }}">
                        <div class="card-img-container">
                            <span class="card-image-wrapper"><img class="card-image lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="{{ item.image.url }}" alt="" sizes="142px"></span>
                        </div>
                    </a>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                </div>

                <div class="card-figcaption-body-alt">
                    <a href="{{ item.get_absolute_url }}">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z"/></svg>
                    </a>
                </div>
            </figcaption>
        </figure>
        <div class="card-body">
            <span class="badge badge-pill {{ item.get_label_display }}-color">{{ item.get_category_display }}</span>
            <h4 class="card-title">
                    <a style="color: rgb(27, 48, 64);" href="{{ item.get_absolute_url }}">
                        <strong>{{ item.title }}</strong>
                    </a>
            </h4>

            <div class="card-text" data-test-info-type="price">
                <strong style="color: rgb(51, 0, 0);">$
                    {% if item.discount_price %}
                    {{ item.discount_price }}
                    {% else %}
                    {{ item.price }}
                    {% endif %}
                    </strong>
                </div>
        </div>
    </div>
</article>
    </li>
    {% endfor %}
</ul>
</form>
</div>

</main>
</div>
</div>
</div>


{% endblock content %}


