{% extends "base.html" %}

{% block content %}

  <main class="pt-4">
    <div class="container dark-grey-text">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <div id="img-container">
                <div id="lens"></div>
                <img id="featured" src="{{ item.image.url }}" class="card-img-top">
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div>
              <h1><strong>{{ object.title }}</strong></h1>
            </div>

            <div class="mb-3">
              <a href="">
                  <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>${{ object.price }}</del>
              </span>
              <span>${{ object.discount_price }}</span>
              {% else %}
              <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>

            <section class="color">
                <div class="mt-3 mb-3">
                    <p>Choose your color</p>
                    <div class="ml-2">
                        <div class="col-md-4 col-12">
                            <div>
                              <input id="radio100" name="radio" value="Red" type="radio" class="custom-control-input" required>
                              <label class="custom-control-label" for="radio100">Red</label>
                            </div>
                            <div>
                              <input id="radio101" name="radio" value="Blue" type="radio" class="custom-control-input" required>
                              <label class="custom-control-label" for="radio101">Blue</label>
                            </div>
                            <div>
                              <input id="radio102" name="radio" value="Yellow" type="radio" class="custom-control-input" required>
                              <label class="custom-control-label" for="radio102">Yellow</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="mt-4 mb-5">
                    <p>Choose your size</p>
                        <select name="cup">
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XXL">XXL</option>
                            <option value="XXXL">XXXL</option>
                        </select>
                </div>
            </section>

            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="/media/14.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="/media/1.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="/media/2.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  <script>
      function imageZoom(imgID){
          let img = document.getElementById(imgID)
          let lens = document.getElementById('lens')

          lens.style.backgroundImage = `url( ${img.src} )`

          let ratio = 1

          lens.style.backgroundSize = (img.width * ratio) + 'px' + (img.height * ratio) + 'px';

          img.addEventListener("mousemove", moveLens)
          lens.addEventListener("mousemove", moveLens)
          img.addEventListener("touchmove", moveLens)

          function moveLens(){

              //1
              let pos = getCursor()
              console.log('pos:', pos)

              //2
              let positionLeft = pos.x - (lens.offsetWidth / 2)
              let positionTop = pos.y - (lens.offsetHeight / 2)

              //5
              if(positionLeft < 0 ){
                  positionLeft = 0
              }

              if(positionTop < 0 ){
                  positionTop = 0
              }

              if(positionLeft > img.width - lens.offsetWidth / 3){
                  positionLeft = img.width - lens.offsetWidth / 3
              }

              if(positionTop > img.height - lens.offsetHeight / 3){
                  positionTop = img.height - lens.offsetHeight / 3
              }

              //3
              lens.style.left = positionLeft +'px';
              lens.style.top = positionTop +'px';

              //4
              lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' + (pos.y * ratio) + 'px'
          }

          function getCursor(){

              let e = window.event
              let bounds = img.getBoundingClientRect()

              //console.log('e:', e)
              //console.log('bounds:', bounds)

              let x = e.pageX - bounds.left
              let y = e.pageX - bounds.top
              x = x - window.pageXOffset;
              y = y - window.pageYOffset;

              return {'x':x, 'y':y}
          }
      }

      imageZoom('featured')
  </script>
  </main>

{% endblock content %}